@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ChillRoundGothic;
    src: url(./assets/fonts/ChillRoundGothic_Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: ChillRoundGothic;
    src: url(./assets/fonts/ChillRoundGothic_Bold.otf);
    font-weight: bold;
}

:root {
    font-family: ChillRoundGothic, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.after\:bg-divider::after {
    background-color: #e5e7eb !important;
}
.HOTARU_TABLE tbody>tr{
    transition: background-color .3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}
.HOTARU_TABLE tbody>tr:hover{
    background-color: hsl(var(--nextui-default) / 0.15);
}